{% extends 'gestion_livres/base.html' %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Détail livre {% endblock %}</title>
</head>
<body>
    {% block content %}
    <div>
        <p>
            <span>Titre: {{ livre.titre }}</span>
            <span>Auteur: {{ livre.auteur }}</span>
            <span>Annee: {{ livre.auteur }}</span>
        </p>
    </div>
    {% endblock %}
</body>
</html>